<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}VulnerableNotes{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="site-header">
      <nav class="container">
        <a class="brand" href="{{ url_for('index') }}">VulnerableNotes</a>
      </nav>
    </header>

    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
